.title {
  color: white;
}

.label {
  color: white;
  font-weight: lighter;
  font-size: 30px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.datetime-picker {
  font-size: 20px;
  text-align: center;
  border-radius: 30px;
  border: 10px solid #ffffff;
}

.number-field {
  font-size: 20px;
  text-align: center;
  border-radius: 30px;
  border: 10px solid #ffffff;
  width: 100px;
}

.preference-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 270px;
}

.preference-picker {
  padding: 10px;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  background: #fff;
}

.selected-list {
  height: 35px;
  overflow-y: auto;
}

.available-list {
  height: 180px;
  overflow-y: auto;
  align-content: flex-start;
}

.preference-tag {
  border: none;
  border-radius: 20px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
}

.preference-tag.selected {
  background-color: #ffe0e0;
}

.preference-tag.available {
  background-color: #e7f0ff;
}

.icon {
  font-weight: 900;
}

.button-top button {
  margin-bottom: 15px;
  width: 230px;
}

.button-bottom button {
  background-color: #ccf8ce;
  width: 230px;
}